@font-face {
  font-family: 'Josefin Sans';
  src:  url('static/font/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('truetype'),
        url('static/font/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
}

.Villian {
  background-color: #FFFAFA;
}

.Hero {
  height: 100vh;
  width: 100%;
  background-image: url(../static/images/BackgroundImage.webp);
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}

.Logo {
  color: #191919;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}

span {
  color: #F9004D;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

nav ul li a {
  color: #191919;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}

nav ul li a:hover {
  color: #F9004D;
  transition: .4s;
}

.Button {
  background-color: #F9004D;
  color: #191919;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform .4s;
}

.Button:hover {
  transform: scale(1.2);
}

#Clock {
  background-color: #191919;
}

.Content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%)
}

h1 {
  color: #191919;
  margin: 20px 0 20px;
  font-size: 75px;
}

.Contact-Heading {
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  color: #191919;
  font-size: 25px;
  margin-bottom: 50px;
}

h4 {
  color: #F9004D;
  letter-spacing: 2px;
  font-size: 20px;
}

.Newsletter form {
  width: 380px;
  max-width: 100%;
  position: relative;
}

.Newsletter form input:first-child {
  display: inline-block;
  width: 100%;
  padding: 14px 130px 14px 15px;
  border: 2px solid #F9004D;
  outline: none;
  border-radius: 30px;
}

.Newsletter form input:last-child {
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #F9004D;
  color: #191919;
  box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
  top: 6px;
  right: 6px;
}

.About, .Contact {
  width: 100%;
  padding: 100px 0;
  background-color: #FFFAFA;
}

.About img {
  height: auto;
  width: 430px;
}

.About-Text {
  width: 550px;
}

.Main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#Main {
  border: solid 3px #191919;
  max-width: 1000px;
  margin: 60px auto;
  position: relative;
}

#Contact-Form {
  padding: 37.5px;
  margin: 50px 0;
}

.About-Text h2 {
  color: #191919;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.About-Text h5 {
  color: #191919;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.About-Text p, .Paragraph {
  color: #F9004D;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

.Button_1 {
  background-color: #F9004D;
  color: #191919;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: .4s;
}

.Button_1:hover {
  background-color: transparent;
  border: 2px solid #F9004D;
  cursor: pointer;
}

.Contact .underline {
  border-bottom: solid 2px #191919;
  margin: -0.512em auto;
  width: 80px;
}

.Contact .Email {
	float: right;
	width: 45%;
}

.Contact input[type='text'], [type='email'], [type='tel'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #191919;
	color: #191919;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.Contact input[type='text']:focus, [type='email']:focus, [type='tel']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.Contact .Message {
	float: none;
}

.Contact .Name {
	float: left;
	width: 45%;
}

.Contact select {
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.Contact select::-ms-expand {
  display: none;
}

.Contact .Subject {
  width: 100%;
}

.Contact .Phone {
  width: 100%;
}

.Contact textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

.Contact::-webkit-input-placeholder {
	color: #FFFAFA;
}

.Contact:-moz-placeholder {
	color: #FFFAFA;
	opacity: 1;
}

.Contact::-moz-placeholder {
	color: #FFFAFA;
	opacity: 1;
}

.Contact:-ms-input-placeholder {
	color: #FFFAFA;
}

@media screen and (max-width: 768px) {
  #Main {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  .Contact h1 {
    font-size: 26px;
  }

  .Contact .underline {
    width: 68px;
  }

  .Contact .Button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  .Contact h1 {
    font-size: 18px;
  }

  .Contact .underline {
    width: 53px;
  }

  .Contact input[type='text'], [type='email'], [type='tel'], select, textarea {
    font-size: 0.875em;
  }
}
